name: .NET CI

on:
  push:
    branches: [ main ]
  pull_request:
  merge_group:

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      run-sonarqube: true
      enforce-coverage-threshold: true
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}